html {
	font-size: $base-font-size;
}

body {
 	font-family: $base-font-family; 
	line-height: $base-line-height;
	font-size: 1.2rem;
	color: $base-color;
	background-color: $white;
	background-image: url(images/bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

a { 
	color: $white;
	text-decoration: none;      
}

p {
	font-size: 14px;
	line-height: 1.5;
	color: #828181;
}

#wrapper { 
	position: relative;
	vertical-align: top;
	width: 100%; 
	overflow: hidden;
}

.container {
	max-width: $conteiner-width;
	padding: 0 15px;
	margin: 0 auto;
}  

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$grid-gutter-width / 2};
}

.col {
  padding: 0 #{$grid-gutter-width / 2};
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}   

@each $key, $viewport in $viewports {
	@media all and (min-width: $viewport) {
		@for $i from 1 through $grid-count {
			.col-#{$key}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}

.btn {
	padding: 15px 40px;
	background: linear-gradient(to bottom, #2d6ac1 0%,#174284 100%);
	border: 1px solid #6e9ad8;
	border-radius: 5px;
	display: inline-block; 
    line-height: 1em;
	line-height: 23px;
	font-size: 19px;
	position: relative; 

	&:hover {
		background: linear-gradient(to bottom, #174284 0%,#2d6ac1 100%); 
	}
}

.btn-large {
	font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
   	text-shadow: 0px 2px 3px rgba(0,0,0,0.3); 

    &:after {
	    content: '';
	    position: absolute;
	    width: 90%;
	    height: 1px;
	    left: 50%;
	    bottom: -30px;
	    background-color: #00000014;
	    border-radius: 50%;
	    transform: translateX(-50%);
	    box-shadow: 0 0 17px 0 #000000;

    }
}

.btn-medium {
    font-size: 19px;
    line-height: .3; 
    text-shadow: 0 2px 3px rgba(0,0,0,.3); 
}

.section1 {
	margin-bottom: 45px;
}

.section1-block {
	background: linear-gradient(to bottom, #faf9fa 0%,#e3e3e2 100%); 
	border: 4px solid white;
	border-radius: 4px;
	text-align: center;
	margin-bottom: 10px;
    position: relative; 
    overflow: hidden; 

	@media (min-width: $tablet-width) and (orientation: landscape) {
		margin-bottom: 0px; 
   	 height: 100%;
	}
	
	a {
	    display: flex;
	 	flex-direction: column;
 	    align-items: center;
	    justify-content: flex-end;
	    height: 100%;
	}

	h4 {
		font-size: 19px;
		line-height: 42px;
		color: #8c8c92;
		text-shadow: 1px 1px 0 #fff;
		font-weight: normal;
	} 
} 

.stick {
	&:after {
	    content: 'New';
	    position: absolute;
	    top: 15px;
	    right: 15px; 
	    background: linear-gradient(to right,#5d2556 0,#9f3b92 100%);
	    color: #fff;
	    transform: translate(50%, -50%) rotateZ(45deg);
	    width: 50%;
	    text-align: center;
	    padding: 30px 0 10px;
	}
}

.section2 {
	h3 {
		font-size: 25px;
		line-height: 1;
		color: #505050;
		display: inline-block; 
		vertical-align: top;
		font-weight: normal;
		margin-bottom: 20px;

		a {
			font-size: 15px;
			line-height: 1;
			color: #5f7390;
			display: block;
		}
	}
}

.section2-icon {
	display: inline-block;
	vertical-align: top;
	width: 35px;
	height: 35px;
	line-height: 2;
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #b6b6b6 0%,#6f6f6f 100%); 
	box-shadow: inset 2px 2px 2px 0 rgba(#000, .5);
	margin-right: 10px;
	text-align: center;
	color: $white;
    text-shadow: 1px 1px 0 #000;
}  

.section2-slider {
    background: linear-gradient(to right, #d7d7e3 0%,#ecedef 40%,#ecedef 40%,#ecedef 60%,#d7d7e3 100%);
    border-top: 3px solid #dcddde;
    border-bottom: 3px solid #dcddde;
    text-align: center;
    padding: 15px 35px;
    position: relative;
    font-size: 16px; 
    line-height: 25px;
    color: #828181;
    margin-top: 40px;
    margin-bottom: 40px;

    q {
    	a {
		    color: #5f7390;
    	}
    }

    .slick-slide {
		outline: none;  
	} 

	.slick-arrow { 
	    display: inline-block;
	    position: absolute; 
	    top: 50%;
	    transform: translateY(-50%);
	    border: none;
	    text-indent: -9999px; 
	    width: 30px;
	    height: 30px; 
	    outline: none;
	    background-color: transparent;
	    background-position: center;
	    background-repeat: no-repeat;
	    z-index: 2
	}

	.slick-prev {
		left: 0;
		background-image: url(images/section2-slider-arr-left.png);

		@media (min-width: $large-width) {
			left: -45px;
		}
	}

	.slick-next {
		right: 0;
		background-image: url(images/section2-slider-arr-right.png);

		@media (min-width: $large-width) {
			right: -45px;
		}
	}
}

.section3-title {
	@media (min-width: $tablet-width) and (orientation: landscape) {
		margin: 0 auto;
	    width: max-content; 
	}


	h2 {
		font-size: 22px;
		line-height: 1;
		color: #505050;

		@media (min-width: $tablet-width) and (orientation: landscape) {
			font-size: 27px; 
		}
	}

	a {
		font-size: 15px;
		line-height: 1.2;
		color: #5f7390;
	}
}

.section3-ipad {
	text-align: center;
	margin: 0 25px;  
} 

.section3-btn {
	text-align: center;
	
	a {
		margin-bottom: 10px;

		@media (min-width: $tablet-width) and (orientation: landscape) {
			margin-bottom: 0px;
			margin-left: 30px;
		} 
	}

	@media (min-width: $tablet-width) and (orientation: landscape) {
		text-align: left;
	} 

}

ul.section3-ul {
	margin-top: 30px;
	margin-bottom: 30px; 
	font-size: 15px;
	line-height: 2;
	color: #828181;
	padding-left: 0; 
	list-style: none;

	li {
		position: relative;
	 	padding-left: 27px; 

		&:after {
			content: '';
			position: absolute; 
		    transform: translateY(-50%);
		    top: 50%;
		    left: 7px;
			border: 4px solid transparent;
		 	border-left: 4px solid #828181;  
		}

		&:before { 
			content: '';
			position: absolute; 
		    transform: translateY(-50%);
		    top: 50%;
		    left: 0;
		    width: 17px;
		    height: 17px; 
		    border: 1px solid #d1d1d2;
		    background-color: #e0e0e0;
		    border-radius: 50%; 
		}
	}
}

.accordion {
	margin-top: 45px;
	margin-bottom: 30px;	
}

.accordion-block-head {
	h4 {
		font-size: 15px;
		line-height: 1.2;
		color: #828181;
		font-weight: normal; 
	    margin-bottom: 10px; 
	    padding-left: 27px;
	    position: relative;
	    cursor: pointer;

	    &:before {
			content: "+";
		    position: absolute;
		    top: 50%;
		    left: 0;
		    width: 17px;
		    height: 17px;
		    text-align: center;
		    line-height: 15px; 
		    transform: translateY(-50%);
		    border: 1px solid #d1d1d2;
		    background-color: #e0e0e0;
		    border-radius: 50%; 
		    font-size: 13px;
	    }
	}
}

.accordion-block {
    border-top: 1px solid #c3c3c3;
    padding: 10px 5px 0;

    &:last-child { 
   		border-bottom: 1px solid #c3c3c3;  
    }
}

.accordion-block-inner {
	border-top: 1px solid #c3c3c3;
    padding-top: 10px;
    padding-left: 30px;
	font-size: 13px;
	line-height: 1.5; 
	display: none;
}

.open-acc-block~.accordion-block-inner {
	display: block;
}